*
{
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap');

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
font-size:1.4rem ;
}




#button {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    
}
.button {
    position: relative;
    font-size: 2rem;
    color: rgb(129, 112, 35);
    background-color: transparent;
    border: none;
    cursor:pointer;
    font-style: italic;
    font-weight: bold;
   
}

.button:hover {
    width: 120px;
    height: 50px;
color: rgb(89, 54, 54);
background-color: rgb(175, 197, 130);
width: 7rem;
box-shadow: 2px 5px rgb(149, 132, 132);
}


 
h1 {
display: flex;
justify-content: center;
align-items: center;
color: rgb(68, 116, 68);
margin: 20px;
font-style: italic;
font-size: 3rem;
}

h2 {
display: flex;
justify-content: center;
align-items: center;
color: rgb(68, 116, 68);
margin: 20px;
font-style: italic;
font-size: 1.5rem;
}





body
{
/* background: rgb(220, 205, 205); */
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
/* color: white; */
}

.game
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0px auto;
  /* background-color: aquamarine; */
   
}


.word,
.figure,
.board
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid rgb(148, 85, 8);
    border-radius: 0.5rem;
    margin: 25px;
}

.word{
    height: 250px;
    min-width: 550px;
/* background-color: yellow; */
margin-right: 40px;

}

.figure{
position: relative;
height: 300px;
min-width: 400px;
/* background: rgb(221, 17, 191); */

}

.board
{
  margin: 0px auto;
  padding: 0.5rem;
  max-width: 60vw;
  max-height: 40vh;
  display: grid;
  grid-template-columns: repeat(10,50px);
  gap: 5px;  
  /* background: pink; */
  color: brown;
}

.square
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(12, 154, 61);
    width: 50px;
    height: 50px;
   border-radius: 0.5rem;
   background-color: rgb(251, 255, 127);
  
}


.lettersquare
{
   
    width: 50px;
    height: 50px;
    border: 2px solid rgb(12, 154, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
    border-radius: 0.5rem;
    background-color: rgb(251, 255, 127);
    transition: all;
}

.lettersquare:hover
{
    /* background:rgb(141, 101, 21); */
    color: rgb(91, 9, 9);
    transform: scale(1.2);
}

.wrong
{
    background: red;
    pointer-events: none;
    color: goldenrod;
}

.correct
{
    background: green;
    pointer-events: none;
    color: goldenrod;
}

.close
{
    pointer-events: none;
}

.show
{
    color:brown;
}

.standleg {
    position: absolute;
    left:70px;
    height: 280px;
    width: 15px;
    background: rgb(100, 124, 52);
}

.standarm {
    position: absolute;
    top: 2px;
    left: 70px;
    width: 170px;
    height: 15px;
    background:rgb(100, 124, 52) ;
}

.standsupport
{
    position: absolute;
    top: 35px;
    left: 65px;
    height: 15px;
    width: 100px;
    transform: rotate(-45deg);
    background: rgb(100, 124, 52);
}

.rope
{
    position: absolute;
    top: 2px;
    width: 5px;
    height: 40px;
    background: gray;
}

.head
{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid black;
    z-index: 1; 

}

.body{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 4px;
    border: 2px solid black;
}

.rightarm
{
position: absolute;
top: 100px;
left: 45%;
transform: translateX(-50%)
rotate(45deg);
height: 60px;
width: 4px;
border: 2px solid black;
}

.leftarm
{
    position: absolute;
    top: 100px;
    left: 55%;
    transform: translateX(-50%)
    rotate(-45deg);
    height: 60px;
    width: 4px;
    border: 2px solid black;  
}

.rightleg {
    position: absolute;
    top: 180px;
    left: 45%;
    transform: translateX(-50%) rotate(45deg);
    height: 60px;
    width: 4px;
    border: 2px solid black;
}

.leftleg
{
    position: absolute;
    top: 180px;
    left: 55%;
    transform: translateX(-50%) rotate(-45deg);
    height: 60px;
    width: 4px;
    border: 2px solid black;  
}

